body,
html {
    width: 100%;
    height: 100%;
    background-color: #f1faee;
}

.scroller {
    --sb-track-color: #a8dadc;
    --sb-thumb-color: #3b7080;
    --sb-size: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.scroller::-webkit-scrollbar {
    width: var(--sb-size)
}

.scroller::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

.scroller::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;

}

.scroller::-webkit-scrollbar-button:start:increment {
    height: 2%;
    display: block;
    background: transparent;
}

.scroller::-webkit-scrollbar-button:end:increment {
    height: 2%;
    display: block;
    background: transparent;
}

@supports not selector(::-webkit-scrollbar) {
    .scroller {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

h1,
h2,
p,
h3 {
    color: #5f0f40;
    font-family: 'Moderustic';
}

#boton {
    background-color: #3b7080;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

#addTask {
    font-size: 2vb;
    text-align: center;
    position: fixed;
    border-radius: 10vb;
    margin: 5vh 2vb 0 0;
    z-index: 1;
}

.header-title {
    padding-top: 1.2rem;
}

#topBar {
    width: 100%;
    margin-bottom: 3%;
}

#topBar h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.card {
    /*margin: auto auto 10% auto !important;*/
    width: 20%;
    min-width: 200px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a8dadc;
    border: 0.01rem solid black;
    overflow-y: hidden;
    overflow-x: hidden;
    gap: 2vh;
}

.card-title {
    width: 100%;
    background-color: #a8dadc;
    padding: 3%;
    border-bottom: 0.01rem solid black;
}

.card-title h2 {
    text-align: center;
}

.card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    flex-grow: 1;
    background-color: red;

}

.card-content-test {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    flex-grow: 1;
    background-color: green;
}

.task {
    background-color: #83c5be;
    margin-bottom: 8%;
    width: 85%;
    border-radius: 5%;
    border: 0.01rem solid black;
    padding: 2.5%;
}